<% layout('layouts/boilerplate') %>
<div class="row">
    <div class="col-6 offset-3">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"><%= err.message %></h4>
            <% if (process.env.NODE_ENV !== "production") { %>
                <pre><%= err.stack %></pre>  <!-- Wrap the stack in <pre> for better formatting -->
            <% } else { %>
                <p>Something went wrong. Please try again later.</p>  <!-- Message to show in production -->
            <% } %>
        </div>
    </div>
</div>
